<nz-layout class="main">
  <nz-layout>
    <nz-sider [nzWidth]="200" class="sider">
      <ul nz-menu [nzMode]="'inline'">
        <li nz-menu-item
            [nzSelected]="nav==='/'"
            routerLink="/">
          <span title>
            <i nz-icon type="thunderbolt"></i> 首页
          </span>
        </li>
        <li nz-menu-item
            [nzSelected]="nav==='/quick'"
            routerLink="/quick">
          <span title>
            <i nz-icon type="thunderbolt"></i> 快速设置
          </span>
        </li>
        <li nz-submenu>
          <span title>
            <i nz-icon type="project"></i> 项目管理
          </span>
          <ul>
            <li nz-menu-item
                [nzSelected]="nav==='/project'"
                routerLink="/project">
              默认
            </li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i nz-icon type="cluster"></i> 集群管理
          </span>
          <ul>
            <li nz-menu-item
                [nzSelected]="nav==='/cluster'"
                routerLink="/cluster">
              默认
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="container">
      <nz-content class="content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
