nz-layout.main {
  height: 100%;
}

.logo {
  width: 121px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

ul.nav {
  line-height: 64px;
}

nz-layout.container {
  padding: 24px;
}

nz-sider.sider {
  background: #fff;

  & > ul {
    height: 100%
  }
}

nz-breadcrumb.breadcrumb {
  margin: 16px 0;
}

nz-content.content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
